<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enableBugly</key>
	<false/>
	<key>licenceConfig</key>
	<dict>
		<key>licenceKey</key>
		<string>...</string>
		<key>licenceUrl</key>
		<string>...</string>
	</dict>
	<key>menuConfig</key>
	<array>
		<dict>
			<key>subMenus</key>
			<array>
				<dict>
					<key>class</key>
					<string>CameraStartPushViewController</string>
					<key>title</key>
					<string>MLVB.MainMenu.pushcamera</string>
				</dict>
				<dict>
					<key>class</key>
					<string>ScreenPushViewController</string>
					<key>title</key>
					<string>MLVB.MainMenu.pushscreen</string>
				</dict>
				<dict>
					<key>class</key>
					<string>V2MainViewController</string>
					<key>debug</key>
					<true/>
					<key>title</key>
					<string>V2.Live.LinkMicNew.coanchornew</string>
				</dict>
			</array>
			<key>title</key>
			<string>V2.Live.LinkMicNew.title</string>
		</dict>
		<dict>
			<key>subMenus</key>
			<array>
				<dict>
					<key>class</key>
					<string>PlayViewController</string>
					<key>title</key>
					<string>MLVB.MainMenu.Standardlivebroadcast</string>
				</dict>
				<dict>
					<key>class</key>
					<string>LebLauncherViewController</string>
					<key>title</key>
					<string>MLVB.lebLauncher.title</string>
				</dict>
				<dict>
					<key>class</key>
					<string>RTCLauncherViewController</string>
					<key>debug</key>
					<true/>
					<key>title</key>
					<string>MLVB.RTCLauncher.title</string>
				</dict>
			</array>
			<key>title</key>
			<string>MLVB.MainMenu.Livebroadcast</string>
		</dict>
		<dict>
			<key>TRTC</key>
			<true/>
			<key>subMenus</key>
			<array>
				<dict>
					<key>class</key>
					<string>TRTCSpeedTestViewController</string>
					<key>title</key>
					<string>Demo.TRTC.Live.trtcSpeedTest</string>
				</dict>
				<dict>
					<key>class</key>
					<string>TRTCLiveEnterViewController</string>
					<key>title</key>
					<string>Demo.TRTC.Live.trtcLive</string>
				</dict>
				<dict>
					<key>class</key>
					<string>TRTCCallEnterViewController</string>
					<key>title</key>
					<string>Demo.TRTC.Live.trtcCalling</string>
				</dict>
			</array>
			<key>title</key>
			<string>TRTC.MainMenu.trtc</string>
		</dict>
		<dict>
			<key>subMenus</key>
			<array>
				<dict>
					<key>method</key>
					<string>showRecordEntryController</string>
					<key>title</key>
					<string>MLVB.MainMenu.Shooting</string>
				</dict>
				<dict>
					<key>method</key>
					<string>showideoEditEntryController</string>
					<key>title</key>
					<string>MLVB.MainMenu.SpecialEffects</string>
				</dict>
				<dict>
					<key>method</key>
					<string>showVideoJoinEntryController</string>
					<key>title</key>
					<string>MLVB.MainMenu.VideoSplicing</string>
				</dict>
				<dict>
					<key>method</key>
					<string>showPhotoEditController</string>
					<key>title</key>
					<string>MLVB.MainMenu.ImageTransition</string>
				</dict>
				<dict>
					<key>method</key>
					<string>showVideoUploadEntryController</string>
					<key>title</key>
					<string>MLVB.MainMenu.VideoUpload</string>
				</dict>
			</array>
			<key>title</key>
			<string>MLVB.MainMenu.UGSV</string>
		</dict>
		<dict>
			<key>subMenus</key>
			<array>
				<dict>
					<key>class</key>
					<string>MoviePlayerViewController</string>
					<key>title</key>
					<string>MLVB.MainMenu.SuperPlayer</string>
				</dict>
				<dict>
					<key>class</key>
					<string>PlayVodViewController</string>
					<key>debug</key>
					<true/>
					<key>title</key>
					<string>MLVB.MainMenu.VodPlayer</string>
				</dict>
				<dict>
					<key>class</key>
					<string>ShortVideoPlayViewController</string>
					<key>title</key>
					<string>MLVB.MainMenu.shortVideoPlay</string>
				</dict>
			</array>
			<key>title</key>
			<string>MLVB.MainMenu.Player</string>
		</dict>
		<dict>
			<key>subMenus</key>
			<array>
				<dict>
					<key>method</key>
					<string>showXiaoZhiBoAppStore</string>
					<key>title</key>
					<string>MLVB.MainMenu.LVBLite</string>
				</dict>
				<dict>
					<key>method</key>
					<string>showXiaoShiPinAppStore</string>
					<key>title</key>
					<string>MLVB.MainMenu.UGSVApp</string>
				</dict>
				<dict>
					<key>method</key>
					<string>showTrtcAppStore</string>
					<key>title</key>
					<string>MLVB.MainMenu.TRTCAPP</string>
				</dict>
			</array>
			<key>title</key>
			<string>MLVB.MainMenu.Scene</string>
		</dict>
		<dict>
			<key>debug</key>
			<true/>
			<key>subMenus</key>
			<array>
				<dict>
					<key>class</key>
					<string>CameraPushV1ViewController</string>
					<key>title</key>
					<string>MLVB.MainMenu.pushcameraV1</string>
				</dict>
				<dict>
					<key>class</key>
					<string>ScreenPushV1ViewController</string>
					<key>title</key>
					<string>MLVB.MainMenu.pushscreenV1</string>
				</dict>
				<dict>
					<key>class</key>
					<string>PlayViewV1Controller</string>
					<key>title</key>
					<string>MLVB.MainMenu.StandardlivebroadcastV1</string>
				</dict>
				<dict>
					<key>class</key>
					<string>LiveRoomListViewController</string>
					<key>title</key>
					<string>MLVB.MainMenu.coanchoringoldV1</string>
				</dict>
			</array>
			<key>title</key>
			<string>MLVB.MainMenu.OtherTools</string>
		</dict>
	</array>
</dict>
</plist>
